body{background-color: #f4cccc;
font-style: italic; font-size: 21px;
text-align: center; color:#0b5394;}
h1{font-family: cursive;  
font-size: 80px; 
margin: 60px;}
h2{ font-size: 40px; }
h3{font-size: 35px;}
p{font-size: 29px;}